<div class="container container-small">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a class="btn btn-default " onclick="history.back(-1)" style="margin-bottom:10px; float:right">
                <i class="fa fa-arrow-left"></i> Back</a>
            <form name="form" class="form-horizontal" (submit)="updateExpense()">
                <div class="form-group">
                    <label>Date *</label>
                    <input type="date" name="expenseDate" [(ngModel)]="expenseDate" class="form-control" placeholder="Date">
                </div>
                <div class="form-group">
                    <label>Reference *</label>
                    <input type="text" name="expenseReference" [(ngModel)]="expenseReference" class="form-control" placeholder="Reference *">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="expenseCategory " [(ngModel)]="expenseCategory">
                      <option value="0">Category</option>
                      <option >{{expenseCategory}}</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="store_id">Store</label>
                    <select class="form-control" name="expenseStore" [(ngModel)]="expenseStore">
                       <option value="0">Store</option>
                        <option>{{expenseStore}}</option>
                </select>
                </div>
                <div class="form-group">
                    <label>Amount (INR) *</label>
                    <input type="number" step="any" required="" name="expenseAmount" [(ngModel)]="expenseAmount" class="form-control" id="Amount" placeholder="Amount">
                </div>
                <div class="form-group">
                    <label>Attachment</label>
                    <input type="file" name="userfile" id="attachment">
                    <p class="help-block">Accepted files(images|pdf|doc|xls|zip) Max size : 2Mb</p>
                </div>
                <div class="form-group">
                    <ckeditor debounce="500" name="expenseParagraph" [(ngModel)]="expenseParagraph">
                    </ckeditor>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success col-md-4">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>