<div>
    <div class="col-md-4"></div>
    <!--Store Tables Header -->
    <div class="container  col-md-4" style="margin-top:30px">
        <div class="row">
            <h2>Store Zones</h2>
        </div>
        <!--Store Zone Attach -->
        <div class="row" style="margin-top:10px">
            <span class="zone" *ngFor="let zone of   storeTableInterfaces">{{zone.zoneName}}<i  class="fa fa-pencil editzone"  aria-hidden="true" style="margin-right:5px;margin-left:10px;cursor: pointer; cursor: hand;"  (click)="editmodal.open(zone._id)"></i><i style="margin-right:5px;cursor: pointer; cursor: hand; " class="fa fa-times deletezone"  (click)="deleteStoreZone(zone._id)"></i></span>
            <span data-toggle="modal" (click)="modal.open()" data-target="#AddZone" class="zone"><i class="fa fa-plus" style="margin-left:0px; cursor: pointer; cursor: hand; "></i></span>
        </div>
        <!--Store Tables Header -->
        <div class="row">
            <h2>Store Tables</h2>
        </div>
        <div class="row">
            <button type="button" class="btn btn-success " (click)="Tablemodal.open()" data-toggle="modal" data-target="#Addtable" style="margin: 10px 0 !important;">Add table         </button>
        </div>

        <!--Table portion -->
        <div class="row" style="margin-top:10px">
            <table id="Table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="Table_info" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Table name/number</th>
                        <th>Zone name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let table of  storeTables">
                        <td>{{table.storeTable}}</td>
                        <td>{{table.zoneName}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" (click)="deleteStoreTable( table._id)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" (click)="redirect(table._id)"><i class="fa fa-pencil"></i></a>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div class="col-md-4"></div>

</div>

<!--it is used for Attach  Zone modal -->
<modal #modal>
    <form name="form" class="form-horizontal" (submit)="addZone()">
        <modal-header>
            <h4 class="modal-title">Add zone</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <label>Zone name *</label>
                <input type="text" name="zoneName" [(ngModel)]="zoneName" class="form-control" placeholder="Zone name *" required="">
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="modal.dismiss()">Submit</button>
        </modal-footer>
    </form>
</modal>

<!--it is used for Edit Zone modal -->
<modal #editmodal>
    <form name="form" class="form-horizontal" (submit)="updateStoreZone()">
        <modal-header>
            <h4 class="modal-title">Add zone</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <label>Zone name *</label>
                <input type="text" name="zonename1" [(ngModel)]="zonename1" class="form-control" placeholder="Zone name *" required="">
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="editmodal" (click)="editmodal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="editmodal" (click)="editmodal.dismiss()">Submit</button>
        </modal-footer>
    </form>
</modal>


<!--it is used for Attach  Zone modal -->
<modal #Tablemodal>
    <form name="form" class="form-horizontal" (submit)="addTable()">
        <modal-header>
            <h4 class="modal-title">Add Table</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <label>Table name/number *</label>
                <input type="text" name="storeTable" [(ngModel)]="storeTable" class="form-control" placeholder="Table name/number" required="">
            </div>
            <div class="form-group">
                <label>Choose a zone *</label>
                <select class="form-control" name="zoneName" [(ngModel)]="zoneName">
                       <option value="0">Choose a zone *</option>
                       <option *ngFor="let zone of   storeTableInterfaces">{{zone.zoneName}}</option>
                </select>
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="Tablemodal" (click)="Tablemodal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="Tablemodal" (click)="Tablemodal.dismiss()">Submit</button>
        </modal-footer>
    </form>
</modal>