        .zone {
            padding: 6px 10px;
            border-radius: 15px;
            background-color: red;
            margin: 0 2px;
            color: #fff;
            position: relative;
        }