<div>
    <div class="col-md-3"></div>
    <div class="container col-md-6">
        <div class="row">
            <h1 class="text-center choose_store"> Choose a store </h1>
        </div>
        <div class="row" style="border-style: solid;margin-bottom: 10px;" *ngFor="let store of  storeInterfaces">
            <ul style="cursor: pointer; cursor: hand; ">
                <a (click)="cashHand(store._id) ">
                    <li>
                        <div class="col-md-2">
                            <img src="assets/images/store.svg" alt="store" width="50" height="50">
                        </div>
                        <div class="col-md-6">
                            <span>{{store.storeName}}</span><br>
                            <!--<span>{{store._id}}</span>-->
                            <span>{{store.storeAddress}} <span>•</span>{{store.storePhone}}<span>•</span>{{store.storeEmail}}</span>
                        </div>
                    </li>
                    <span>•Close</span>
                </a>
            </ul>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<!-- used for modal-->
<!--<modal #modal>
    <form name="form " class="form-horizontal " (submit)="">
        <modal-header>
            <h4 class="modal-title ">Cash in Hand</h4>
        </modal-header>
        <modal-body>

            <div class="form-group ">
                <label>Cash in Hand</label>
                <input type="number " name="CashinHand " [(ngModel)]="CashinHand " class="form-control " placeholder="Cash in Hand" required=" ">
            </div>

        </modal-body>
        <modal-footer>
            <button type="button " class="btn btn-default " data-dismiss="modal " (click)="modal.dismiss() ">Close</button>
            <button type="submit " class="btn btn-primary ">Submit</button>
        </modal-footer>
    </form>
</modal>-->: