<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a class="btn btn-default " onclick="history.back(-1)" style="margin-bottom:10px; float:right">
                <i class="fa fa-arrow-left"></i> Back</a>
            <form name="form" class="form-horizontal" (submit)="updateSupplier()">
                <div class="form-group">
                    <label>Supplier Name</label>
                    <input type="text" name="suppliersName" [(ngModel)]="suppliersName" class="form-control" placeholder="Supplier Name" required="">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" name="suppliersPhone" class="form-control" placeholder="Phone" [(ngModel)]="suppliersPhone">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="suppliersEmail" class="form-control" id="email" placeholder="Email" [(ngModel)]="suppliersEmail">
                </div>
                <div class="form-group">
                    <label>Note</label>
                    <ckeditor debounce="500" [(ngModel)]="suppliersStore" name="suppliersStore">
                    </ckeditor>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success ">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>