<div class="container container-small">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a class="btn btn-default " onclick="history.back(-1)" style="margin-bottom:10px; float:right">
                <i class="fa fa-arrow-left"></i> Back</a>
            <form name="form" class="form-horizontal" (submit)="updateProduct_Top()">
                <div class="form-group">
                    <label for="store_id">Type</label>
                    <select class="form-control" name="productType" [(ngModel)]="productType" (change)="onSelect($event.target.value)">
                       <option  value={{productType}}>{{productType}}</option>
                       <option value="Service">Service</option>
                       <option value="Combination">Combination </option>
                       <option value="Standard">Standard </option>
                </select>
                </div>
                <div class="form-group" *ngIf="option === 'Standard' || 'Service' || 'Combination'">
                    <label>Code</label>
                    <input type="text" name="productCode" [(ngModel)]="productCode" class="form-control" placeholder="Code">
                </div>
                <div class="form-group" *ngIf="option === 'Standard' || 'Service' || 'Combination'">
                    <label>Name</label>
                    <input type="text" name="productName" [(ngModel)]="productName" class="form-control" placeholder="Name">
                </div>
                <div class="form-group" *ngIf="option === 'Standard' || 'Service' || 'Combination'">
                    <label for="store_id">Category</label>
                    <select class="form-control" name="productCategory" [(ngModel)]="productCategory">
                       <option value="0">Category</option>
                       <option>{{productCategory}}</option>

                </select>
                </div>
                <div class="form-group" *ngIf="option === 'Standard'">
                    <label for="store_id">Supplier</label>
                    <select class="form-control" name="productSupplier" [(ngModel)]="productSupplier">
                       <option value="0">Supplier</option>
                       <option>{{productSupplier}}</option>

                </select>
                </div>
                <div class="form-group" *ngIf="option === 'Standard'">
                    <label>Purchase Price (INR)</label>
                    <input type="number" name="productPurchasePrice" [(ngModel)]="productPurchasePrice" class="form-control" placeholder="Purchase Price (INR)">
                </div>
                <div class="form-group" *ngIf="option === 'Standard' || 'Service'">
                    <label>Tax(%)</label>
                    <input type="text" name="productTax " [(ngModel)]="productTax " class="form-control" placeholder="Tax(%)">
                </div>
                <div class="form-group" *ngIf="option === 'Standard' || 'Service'">
                    <label for="store_id">Tax Method</label>
                    <select class="form-control" name="productTaxMethod" [(ngModel)]="productTaxMethod">
                       <option >{{productTaxMethod}}</option>

                </select>
                </div>

                <div class="form-group" *ngIf="option === 'Standard' || 'Service' || 'Combination'">
                    <label>Price (INR)</label>
                    <input type="number" name="productPriceINR" [(ngModel)]="productPriceINR" class="form-control">
                </div>
                <div class="form-group" *ngIf="option === 'Standard' || 'Service' || 'Combination'">
                    <label>Product Options separated by commas (ex: More Cheese, Cook Well-Done, etc...)</label>
                    <input type="textarea" rows="4" cols="50" class="form-control" name="productDiscription" [(ngModel)]="productDiscription">
                </div>
                <div class="form-group" *ngIf="option === 'Standard'">
                    <label>Product Unit</label>
                    <input type="number" name="productUnit" [(ngModel)]="productUnit" class="form-control">
                </div>
                <div class="form-group" *ngIf="option === 'Standard'">
                    <label>Alert Quantity</label>
                    <input type="number" name="productAlertQuantity" [(ngModel)]="productAlertQuantity" class="form-control">
                </div>
                <div class="form-group" *ngIf="option === 'Standard' || 'Service' || 'Combination'">
                    <label for="exampleInputFile">Attachment</label>
                    <input type="file" name="userfile" id="attachment">
                    <p class="help-block">Accepted files(images|pdf|doc|xls|zip) Max size : 2Mb</p>
                </div>
                <div class="form-group" *ngIf="option === 'Standard' || 'Service' || 'Combination'">
                    <ckeditor debounce="500" name="productParagraph" [(ngModel)]="productParagraph">
                    </ckeditor>
                </div>
                <div class="col-md-12" *ngIf="option === 'Standard' || 'Service' || 'Combination'">
                    <div class="col-md-6 form-group">
                        <p>Color chose</p>
                    </div>
                    <div class="col-md-6 form-group" *ngIf="option === 'Standard' || 'Service' || 'Combination'">
                        <p>Image Display</p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success ">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>

    </div>
</div>