<div class="container">
    <div class="row">
        <div id="Table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="clear"></div>
            <div>
                <label>Show
                    <select name="Table_length" aria-controls="Table" class="form-control input-sm" [(ngModel)]="selectValue"><option value="2">2</option>
                       <option value="10">10</option><option value="25">25</option>
                       <option value="50">50</option><option value="100">100</option>
                    </select> entries
            </label>
            </div>
            <div class="dataTables_filter "><label style="float:right">Search:<input type="search" class="form-control input-sm" [(ngModel)]="term" placeholder="" aria-controls="Table"></label></div>
            <div>
                <form>
                    <table id="Table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="Table_info" style="width: 100%;">
                        <thead>
                            <tr>
                                <th class="sorting_asc" tabindex="0" aria-controls="Table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Category Name: activate to sort column descending" style="width: 383px;">Category Name</th>
                                <th class="sorting" tabindex="0" aria-controls="Table" rowspan="1" colspan="1" aria-label="Ceated At: activate to sort column ascending" style="width: 429px;">Created At</th>
                                <th class="sorting" tabindex="0" aria-controls="Table" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 242px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let expense of categoriesExpenseInterfaces | filter:term|paginate: {itemsPerPage: selectValue, currentPage: p}">
                                <td>{{expense.category_expernseName}}</td>
                                <td>{{expense.category_CreateAt | date: 'yyyy'}}-{{expense.category_CreateAt | date:'MM'}}-{{expense.category_CreateAt | date: 'dd'}} {{expense.category_CreateAt | date: 'hh:mm:ss'}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" (click)="deleteCategoriesExpense(expense._id)" title="" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                        <a class="btn btn-default" title="" (click)="redirect(expense._id)" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <button type="button" class="btn btn-add btn-lg" class="btn btn-default" (click)="modal.open()">Add Category   </button>
            </div>
            <div class="row ">
                <div class="col-sm-6 "></div>
                <div class="col-sm-6 ">
                    <div class="dataTables_paginate paging_simple_numbers " style="float:right ">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- used for modal-->
<modal #modal>
    <form name="form" class="form-horizontal" (submit)="addExpense()">
        <modal-header>
            <h4 class="modal-title">Add Category</h4>
        </modal-header>
        <modal-body>

            <div class="form-group ">
                <label for="username ">Category Name</label>
                <input type="text " name="category_expernseName" [(ngModel)]="category_expernseName" class="form-control " id="username " placeholder="Category Name" required=" ">
            </div>


        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="modal.dismiss()">Submit</button>
        </modal-footer>
    </form>
</modal>