<div class="container">
    <div class="row">
        <div class="tab-content">
            <div class="tab-pane fade in active">
                <h1>Settings</h1>
                <p>Update your Settings</p>
                <form name="form" class="form-horizontal" (submit)="addSetting()">
                    <fieldset>
                        <div class="form-group col-md-6" style="margin:0px !important">
                            <label>Company Name</label>
                            <input type="text" name="companyName" [(ngModel)]="companyName" class="form-control" placeholder="Company Name">
                        </div>
                        <div class="form-group col-md-6" style="margin:0px !important">
                            <label>Company Logo</label>
                            <input type="file" accept="image/*" (change)="handleInputChange($event)">
                            <!--<input type="file" ng2FileSelect [name]="uploader" />-->

                            <img src="assets/images/logo.png" alt="logo" class="float-right" width="100px" align="right">
                        </div>
                        <div class="form-group col-md-6" style="margin:0px !important">
                            <label>Company Phone</label>
                            <input type="text" name="companyPhone" [(ngModel)]="companyPhone" class="form-control" placeholder="Company Phone">
                        </div>
                        <div class="form-group col-md-6" style="margin:0px !important">
                            <label>Currency Code</label>
                            <input type="text" name="companyCode" [(ngModel)]="companyCode" class="form-control" placeholder="Currency Code">
                        </div>
                        <div class="form-group col-md-3" style="margin:0px !important">
                            <label>Default Discount</label>
                            <input type="number" name="companyDiscount" [(ngModel)]="companyDiscount" class="form-control" placeholder="Default Discount">
                        </div>
                        <div class="form-group col-md-3" style="margin:0px !important">
                            <label>SGST</label>
                            <input type="number" name="SGST" [(ngModel)]="SGST" class="form-control" placeholder="SGST">

                        </div>
                        <div class="form-group col-md-6" style="margin:0px !important">
                            <label>CGST</label>
                            <input type="number" name="CGST" [(ngModel)]="CGST" class="form-control" placeholder="CGST">

                        </div>
                        <div class="form-group col-md-6" style="margin:0px !important">
                            <label>IGST</label>
                            <input type="number" name="IGST" [(ngModel)]="IGST" class="form-control" placeholder="IGST">

                        </div>
                        <div class="form-group col-md-6" style="margin:0px !important">
                            <label>number of decimal (Rounding)</label>
                            <select class="form-control" [(ngModel)]="companyNumberDecimal" name="companyNumberDecimal">
                                        <option value="1" selected="">0.1</option>
                                        <option value="2">0.01</option>
                                        <option value="3">0.001</option>
                            </select>
                        </div>


                        <div class="form-group col-md-6" style="margin:0px !important">
                            <h4>Text in the Receipt Header</h4>
                            <ckeditor debounce="500" [(ngModel)]="companyHeaderParagraph" name="companyHeaderParagraph">
                            </ckeditor>
                        </div>
                        <div class="form-group col-md-6" style="margin:0px !important">
                            <h4>Text in the Receipt Footer</h4>
                            <ckeditor debounce="500" [(ngModel)]="companyFooterParagraph" name="companyFooterParagraph">

                            </ckeditor>
                        </div>
                        <div class="form-group col-md-12" style="margin:0px !important">
                            <label data-toggle="collapse" data-target="#collapseStripe">
                                <input type="hidden" name="stripe" value="0">
                                <input type="checkbox" name="stripe" value="1">
                                <span class="label-text">Stripe</span>
                             </label>
                        </div>
                        <div id="collapseStripe" class="panel-collapse collapse ">
                            <div class="panel-body">
                                <div class="form-group col-md-6" style="margin:0px !important">
                                    <label for="stripe_secret_key">stripe secret key</label>
                                    <input type="text" value="" class="form-control" id="stripe_secret_key" name="compnayStripeSecretkey" [(ngModel)]="compnayStripeSecretkey" placeholder="stripe secret key">
                                </div>
                                <div class="form-group col-md-6" style="margin:0px !important">
                                    <label for="stripe_publishable_key">stripe publishable key</label>
                                    <input type="text" value="" class="form-control" id="stripe_publishable_key" name="compnayStripePublishedKey" [(ngModel)]="compnayStripePublishedKey" placeholder="stripe publishable key">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <h4>Pick your theme</h4>
                            <label class="themesPick col-md-3">
                                <input type="radio" name="theme" value="Light" checked="">
                                <img src="assets/images/Light-theme.jpg" alt="Light-theme">
                             </label>
                            <label class="themesPick col-md-3">
                        <input type="radio" name="theme" value="Dark">
                        <img src="assets/images/Dark-theme.jpg" alt="Dark-theme">
                      </label>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-add btn-lg btn btn-success">Submit</button>
                        </div>

                    </fieldset>
                </form>

            </div>

        </div>

    </div>
</div>