<div class="container">
    <div class="row">
        <div class="tab-pane fade in ">
            <hr>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Avatar</th>
                        <th>first Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>last Active</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let user  of  UserInterfaces" [routerLink]="['home/edit_user',  user._id]">
                        <td><img class="img-circle topbar-userpic hidden-xs" src="assets/images/img.jpg" width="30px" height="30px"></td>
                        <td>{{user.userFirstName}}</td>
                        <td>{{user.userLastName}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user. userRole}}</td>
                        <td>{{user.useractivityDate | date: 'yyyy'}}-{{user.useractivityDate | date:'MM'}}-{{user.useractivityDate | date: 'dd'}} {{user.useractivityDate | date: 'hh:mm:ss'}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" (click)="redirect(user._id)" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-add btn-lg" class="btn btn-default" (click)="modal.open()">Add User</button>
        </div>
    </div>
</div>

<!--It is related to Modal-->
<modal #modal>
    <form name="form" class="form-horizontal" (submit)="addUser()">
        <modal-header>
            <h4 class="modal-title">Add User</h4>
        </modal-header>

        <modal-body>

            <div class="form-group ">
                <label>Username *</label>
                <input type="text " name="userName" [(ngModel)]="userName" class="form-control " placeholder="Username " required="">
            </div>
            <div class="form-group ">
                <label>first Name *</label>
                <input type="text " name=" userFirstName" [(ngModel)]="userFirstName" class="form-control " placeholder="first Name " required="">
            </div>
            <div class="form-group ">
                <label>Last Name</label>
                <input type="text " name="userLastName " [(ngModel)]="userLastName" class="form-control" placeholder="Last Name ">
            </div>
            <div class="form-group">
                <label>Role *</label><br>
                <label class="radio-inline">
                <input type="radio" name="userRole" id="role" value="admin" checked=""  [(ngModel)]="userRole"> Admin
                </label>
                <label class="radio-inline">
                 <input type="radio" name="userRole" id="role" value="sales" [(ngModel)]="userRole"> Sales Staff
                </label>
            </div>
            <div class="form-group ">
                <label for="email ">Email</label>
                <input type="email " name="userEmail " class="form-control " placeholder="Email " [(ngModel)]="userEmail">
            </div>
            <div class="form-group ">
                <label for="password ">Password *</label>
                <input type="password" name="userpassword " id="userpassword" class="form-control " placeholder="Password " required=" " [(ngModel)]="userpassword">
            </div>
            <div class="form-group ">
                <label for="confirm_password ">Repeat Password *</label>
                <input type="password " name="passwordRepeat " id="passwordRepeat" class="form-control " placeholder="Repeat Password " required=" " [(ngModel)]="passwordRepeat">
            </div>
            <div class="form-group ">
                <label for="Avatar ">Avatar</label>
                <input type="file">
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </modal-footer>
    </form>
</modal>