<div class="container">
    <div class="row">
        <div id="Table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="clear"></div>
            <div><label>Show <select  aria-controls="Table" class="form-control input-sm"  [(ngModel)]="selectValue"><option value="2">2</option><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
            <div style="float:right"><label>Search:<input type="search" class="form-control input-sm" [(ngModel)]="term" placeholder="" aria-controls="Table"></label></div>
            <table id="Table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="Table_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th>Waiter Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Store</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let waiters  of   waitersInterfaces | filter: term |paginate: {itemsPerPage: selectValue, currentPage: p}">
                        <td class="sorting_1">{{waiters.waiterName}}</td>
                        <td>{{waiters.waiterPhone}}</td>
                        <td>{{waiters.waiterEmail}}</td>
                        <td>{{waiters.waiterStore}}</td>
                        <td>{{waiters.waiterCreateAt | date: 'yyyy'}}-{{waiters.waiterCreateAt | date:'MM'}}-{{waiters.waiterCreateAt | date: 'dd'}} {{waiters.waiterCreateAt | date: 'hh:mm:ss'}}</td>
                        <div class="btn-group">
                            <a class="btn btn-default" (click)="deleteWaiters(waiters._id)" data-toggle="popover" data-placement="left" data-html="true" title="" data-content="<a class=&quot;btn btn-danger&quot; href=&quot;waiters/delete/11&quot;>Yes, delete it!</a>" data-original-title="Are you sure ?">
                                <i class="fa fa-times"></i>
                            </a>
                            <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" (click)="redirect(waiters._id)"><i class="fa fa-pencil"></i></a>
                        </div>
                    </tr>
                </tbody>
            </table>
            <div class="dataTables_info" id="Table_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div>
            <div class="row ">
                <div class="col-sm-6 "></div>
                <div class="col-sm-6 ">
                    <div class="dataTables_paginate paging_simple_numbers " style="float:right ">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-add btn-lg" class="btn btn-success" (click)="modal.open()">Add Waiter</button>
</div>


<!--it is for modal -->
<modal #modal>
    <form name="form" class="form-horizontal" (submit)="addWaiters()">
        <modal-header>
            <h4 class="modal-title">Add Waiter</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <label>Waiter Name</label>
                <input type="text" name="waiterName" [(ngModel)]="waiterName" class="form-control" placeholder="Waiter Name" required="">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="waiterPhone" [(ngModel)]="waiterPhone" class="form-control" placeholder="Phone">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="waiterEmail" [(ngModel)]="waiterEmail" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Store</label>
                <select class="form-control" [(ngModel)]="waiterStore" name="waiterStore" placeholder="Store" class="form-control">

                        <option *ngFor="let store  of  storeInterfaces" >{{store.storeName}}</option>
                </select>
            </div>

        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="modal.dismiss()">Submit</button>
        </modal-footer>
    </form>
</modal>