<div class="container">
    <div class="row">
        <div id="Table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="clear"></div>
            <div class="dataTables_length" id="Table_length"><label>Show <select [(ngModel)]="selectValue"   class="form-control input-sm"><option value="2">2</option><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
            <div style="float:right"><label>Search:<input type="search" [(ngModel)]="term" class="form-control input-sm" aria-controls="Table"></label></div>
            <table id="Table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="Table_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th>Supplier Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let supply of supplyInterfaces | filter: term |paginate: {itemsPerPage: selectValue, currentPage: p}">
                        <td>{{supply.suppliersName}}</td>
                        <td>{{supply.suppliersPhone}}</td>
                        <td>{{supply.suppliersEmail}}</td>
                        <td>{{supply.supplierDate | date: 'yyyy'}}-{{supply.supplierDate | date:'MM'}}-{{supply.supplierDate | date: 'dd'}} {{supply.supplierDate | date: 'hh:mm:ss'}}</td>

                        <td>
                            <div class="btn-group">
                                <a class="btn btn-default" data-toggle="popover" (click)=" deleteSupply(supply._id)" data-placement="left" data-html="true" title="" data-content="<a class=&quot;btn btn-danger&quot; href=&quot;waiters/delete/11&quot;>Yes, delete it!</a>" data-original-title="Are you sure ?">
                                    <i class="fa fa-times"></i>
                                </a>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" (click)="redirect(supply._id)"><i class="fa fa-pencil"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row ">
                <div class="col-sm-6 "></div>
                <div class="col-sm-6 ">
                    <div class="dataTables_paginate paging_simple_numbers " style="float:right ">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-add btn-lg" class="btn btn-success" (click)="modal.open()">Add Suppliers  </button>
</div>


<!--it is for modal -->
<modal #modal>
    <form name="form" class="form-horizontal" (submit)="addSupplier()">
        <modal-header>
            <h4 class="modal-title">Add Supplier</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <label>Supplier Name</label>
                <input type="text" name="suppliersName" [(ngModel)]="suppliersName" class="form-control" placeholder="Supplier Name" required="">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" name="suppliersPhone" [(ngModel)]="suppliersPhone" class="form-control" placeholder="Phone">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="suppliersEmail" [(ngModel)]="suppliersEmail" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Note</label>
                <ckeditor debounce="500" name="suppliersStore" [(ngModel)]="suppliersStore">
                </ckeditor>
            </div>

        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="modal.dismiss()">Submit</button>
        </modal-footer>
    </form>
</modal>