<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a class="btn btn-default " onclick="history.back(-1)" style="margin-bottom:10px; float:right">
                <i class="fa fa-arrow-left"></i> Back</a>
            <form name="form" class="form-horizontal" (submit)="updateWaiter()">
                <div class="form-group">
                    <label>Waiter Name *</label>
                    <input type="text" name="waiterName" [(ngModel)]="waiterName" class="form-control" placeholder="Waiter Name" required="">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input type="text" name="waiterPhone" [(ngModel)]="waiterPhone" class="form-control" placeholder="Phone">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="waiterEmail" [(ngModel)]="waiterEmail" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="store_id">Store</label>
                    <select class="form-control" name="waiterStore" [(ngModel)]="waiterStore">
                        <option value="0">Store</option>
                        <option >{{waiterStore}}</option>
                </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success ">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>